<table mat-table [dataSource]="passwordItems()">
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>
  <ng-container matColumnDef="lien">
    <th mat-header-cell *matHeaderCellDef>Lien</th>
    <td mat-cell *matCellDef="let element">{{ element.lien }}</td>
  </ng-container>
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef>Identifiant</th>
    <td mat-cell *matCellDef="let element">{{ element.login }}</td>
  </ng-container>
  <ng-container matColumnDef="motdepasse"
    >S
    <th mat-header-cell *matHeaderCellDef>Mot de Passe</th>
    <td mat-cell *matCellDef="let element">{{ element.motdepasse }}</td>
  </ng-container>
  <ng-container matColumnDef="dateCreation">
    <th mat-header-cell *matHeaderCellDef>Date de création</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dateCreation | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dateModification">
    <th mat-header-cell *matHeaderCellDef>Date de dernière modification</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dateModification | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dateExpiration">
    <th mat-header-cell *matHeaderCellDef>Date d'expiration</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dateExpiration | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="observation">
    <th mat-header-cell *matHeaderCellDef>Observation</th>
    <td mat-cell *matCellDef="let element">{{ element.observation }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="action-cell">
      <button mat-icon-button (click)="edit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
